body,
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Iceland", cursive;
  line-height: 1.42;
}
canvas {
  display: block;
  vertical-align: bottom;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #1c2a3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#particles-js {
  width: 100%;
  height: 100%;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}
.logo {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #e9d05d;
  font-size: 48px;
}
.content {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.content__container {
  padding: 50px;
  border-radius: 10px;
  background-color: #e9d05d;
  text-align: center;
}

.content__btn {
  padding: 15px 25px;
  margin-top: 20px;
  background-color: #f7b3af;
  text-transform: uppercase;
  box-shadow: 0px 6px 0px 0px #9d6966, 0px 5px 12px 0px rgba(0, 0, 0, 0.6),
    inset 0px 0px 10px -5px #1c2a3a;
  transition: all 100ms linear;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
.content__btn:hover {
  top: 3px;
  left: -3px;
  box-shadow: 0px 2px 0px 0px #9d6966, 0px 5px 5px 0px rgba(0, 0, 0, 0.6),
    inset 0px 0px 10px -5px #1c2a3a;
}

.coin {
  width: 60px;
}

.ai-ops {
  width: 80%;
}

.form-control {
  width: 30%;
}

.outcome-alert {
  width: 30%;
}

#board {
  min-height: 250px;
}

#thinking {
  height: 200px;
}

#submit-btn {
  display: inline-block;
}

#set-amount {
  display: inline-block;
}
