.coin {
    width: 60px;
}

.jumbotron {
    width: 60%;
    padding: 20px
}

.ai-ops{
    width: 80%
}

.form-control{
    width: 30%;
}

.outcome-alert {
    width: 30%;
}

#board {
    min-height: 250px;
}

#thinking {
    height: 200px;
}

#submit-btn {
    display: inline-block;
}

#set-amount {
    display: inline-block;
}