{% extends "layout.html" %}


{% block body %}
<div class="content__rules">
    <div class="info">
        <button id="rules__btn" class="" onclick="showRules()">
            <i class="fa fa-info icon-info-sign" aria-hidden="true"></i>
            <span class="extra-info">
                CHECK OUT RULES
            </span>
        </button>
    </div>
</div>
<div class="content__container index__container">
    <div class="screen-alert">
        <div id="message">
            <div class="" role="alert">
                Welcome to the game!
            </div>
        </div>
    </div>
    <h3 id="index__slogan" class="mt-4 mb-3 explanations">Can you learn faster than the AI?</h3>
    <a href="{{ url_for('nim_train') }}"><button class="content__btn">Challenge accepted!</button></a>
    <!-- <button id="rules__btn" class="content__btn ml-4" onclick="showRules()"><i class="fa fa-info"
            aria-hidden="true"></i></button> -->
</div>

<div id="rules__text" class="content__container index__container mt-3 mb-5" style="display:none;">
    <div>
        <p class="explanations">Nim is a game for 2 players. In this version, there are 4 rows with
            different amounts of coins:</p>
        <img class="my-5 explanations__img" src="..\static\img\initial_board.PNG" alt="Initial Nim board"
            style="width:50%">
        <p class="explanations">Until the game is over, you and the AI take turns in removing
            coins from the board. In each turn, you have to pick a row. From that row, you can remove
            as many coins as you want - <strong>but at least 1!</strong></p>
        <p class="explanations">Whoever takes the last coin on the board <strong>loses</strong> the game. Hence,
            your goal is to force the AI to take the last coin.</p>
        <img class="my-5 explanations__img" src="..\static\img\board_end.PNG" alt="Initial Nim board" style="width:30%">
        <p class="explanations">In this state of the board, the winning move would be to remove both coins from
            the second row. Then, all the AI can do is take the last remaining coin and lose.</p>
        <a href="{{ url_for('nim_train') }}"><button class="content__btn">Let's go!</button></a>
    </div>
</div>
{% endblock %}