{% extends "layout.html" %}

{% block heading %}
<h3>How many rounds should the AI be trained?</h3>
{% endblock %}

{% block body %}
<form method="POST" action="{{ url_for('nim') }}">

    <div class="mt-4">
        <p>If you want to try out the game and be sure to win, select a number below 10.</p>
        <p>For a real challenge, you can go as far as 50000.</p>
    </div>
    <input name="n_train" type="number" placeholder="Enter a number" class="form-control mt-4" min="1" max="50000"
        required>
    <button class="content__btn">Start Training!</button>

</form>
{% endblock %}