{% extends "layout.html" %}


{% block body %}
<div class="content__container">
    <h3>How many rounds should the AI be trained?</h3>

    <form method="POST" id="train" action="{{ url_for('nim') }}">

        <div class="mt-4">
            <p>If you want to try out the game and be sure to win, select a number below 10.</p>
            <p>For a real challenge, you can go as far as 50000.</p>
        </div>
        <div class="d-flex justify-content-center flex-column">
            <div class="value">1</div>
            <input name="n_train" type="range" placeholder="Enter a number" class="form-control mt-4" min="1"
                max="50000" required value=0>
            <div class="level">EASY PEASY</div>
        </div>
    </form>
</div>
<div class="content-controllers d-flex justify-content-center">
    <button type="submit" form="train" class="content__btn" id="train-btn" onclick="showDiv()">Start Training!</button>

</div>
<div class="preload">
    <img class="brain" src="{{url_for('static', filename='img/brain.png')}}">
    <span class="preload__text ml-3">Training</span>
    <span class="dots preload__text">...</span>
</div>

{% endblock %}