<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta id="winner" data-winnerName="{{ winner }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Iceland&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="icon" href="{{ url_for('static', filename='./img/favicon.ico') }}" type="image/x-icon">
    <title>nimAI</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
</head>

<body>

<div class="wrapper">
    <main class="content ">

        <!-- Display high score -->
        <div id="high-score">Your high score: {{ high_score }}</div>
        <a href="/">
            <div class="logo">&#60; nimAI &#62;</div>
        </a>

        {% block body %}
            <!-- Body is specified in templates -->
        {% endblock %}

        <!-- Authors -->
        <div id="credits">
            <div>
                <a href="https://www.linkedin.com/in/ibayova/" target="_blank">
                    <i class="fa fa-linkedin-square"></i>
                </a>
                Irina (Frontend, Design)
            </div>
            <div class="ml-5">
                <a href="https://www.linkedin.com/in/jakob-schmitt-048179196/" target="_blank">
                    <i class="fa fa-linkedin-square"></i>
                </a>
                Jakob (Machine Learning, Backend, Frontend)
            </div>
        </div>

    </main>
    <div id="particles-js"></div>

    {% block scripts %}
    {% endblock %}

</div>
<script src="{{ url_for('static', filename='js/particles.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>